<div class="side_bar">
  <h3>タグ一覧</h3>
  <div class="tag-lists">
    <% @tags.each do |tag| %>
      <div class="tag-list">
        <a href="#">・<%= tag.name %></a>
      </div>
    <% end %>
  </div>
</div>